@import "tailwindcss";

/* --- あなたの基本設定 --- */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic Medium", "Hiragino Sans", sans-serif;
  background: #faf7f2;
  color: #36332e;
}

a {
  text-decoration: none;
  color: inherit;
}
